# =========================
# Maven build
# =========================
/target/
!.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# Eclipse / STS
# =========================
.classpath
.project
.settings/
.springBeans

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
*.log

# =========================
# Tomcat / Deploy
# =========================
# Evita enviar diretórios ou arquivos criados pelo Tomcat
/work/
webapps/
temp/
logs/
conf/Catalina/
*.war
*.bak

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*
target/