<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Bean simples usado na action -->
    <bean id="helloAction" class="br.com.wsoubar.hello.action.HelloAction">
        <property name="message" value="Hello from Spring + Struts2!" />
    </bean>

</beans>
