<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://cxf.apache.org/jaxws
            http://cxf.apache.org/schemas/jaxws.xsd
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="br.com.wsoubar.hello"/>

    <!-- Bean simples usado na action -->
    <bean id="helloAction" class="br.com.wsoubar.hello.action.HelloAction">
        <property name="message" value="Hello from Spring + Struts2!" />
    </bean>

    <bean id="cxf" class="org.apache.cxf.bus.spring.SpringBus"/>

    <!-- Exemplo de endpoint (opcional)   -->
    <jaxws:endpoint id="helloService"
                    implementor="br.com.wsoubar.hello.service.HelloServiceImpl"
                    address="/hello"/>

</beans>
